[submodule "glad"]
	path = glad
	url = ../glad_3.1
	branch = main
[submodule "ktx"]
	path = ktx
	url = ../../cpp-port/ktx
	branch = main
[submodule "nanovg"]
	path = nanovg
	url = ../../cpp-port/port-nanovg
	branch = main
[submodule "vkvg"]
	path = vkvg
	url = ../../cpp-port/port-vkvg
	branch = main
